.hover-activator .hover-target {
  transition: 250ms;
}

.hover-activator:hover .hover-target {
  transform: translateY(-5px);
  text-shadow: 1px 1px 8px #dc3545;
}

.image {
  align-items: center;
  display: flex;
  height: 0;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  width: 0;
  z-index: -1;
}

.banner {
  height: 90vh;
  position: sticky;
  top: 7vh;
  z-index: -1;
}
